{
  "root": true,
  "extends": [
    "eslint-config-airbnb",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "destructuring": true,
    "classes": true,
    "forOf": true,
    "blockBindings": true,
    "arrowFunctions": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": false,
    "jsx-a11y/anchor-is-valid": false,
    "jsx-a11y/click-events-have-key-events": false,
    "jsx-a11y/no-static-element-interactions": false
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "expect": true,
    "describe": true,
    "it": true,
    "jest": true
  }
}