.app{
  display: flex;
  flex-wrap: nowrap;
}
.sidebar{
  z-index: 1;
  width: 20%;
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 3%;
}
.content{
  height: 100vh;
  width:80%;
  margin:0;
}

.mapContainer{
  height: 100%;
  width: 100%;
}

.filtersDropdown{
  width: 100%;
  margin-bottom: 10px;
}

.dropdownMenu{
  width: 100%;
}

.searchButton{
  width: 100%;
  margin: 10px 0;
}

.searchInput{
  margin: 10px 0;
}